# This is a basic workflow to help you get started with Actions
name: SOOS SCA SARIF Example CI

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run SOOS SCA Analysis
        uses: soos-io/soos-sca-github-action@v2
        with:
          project_name: ${{ github.repository }}  
          output_format: "sarif"
          client_id: ${{ secrets.SOOS_CLIENT_ID }}
          api_key: ${{ secrets.SOOS_API_KEY }}
          # Optional parameters for further customization
          directories_to_exclude: 'C:\Users\KaranKumar\Desktop\Juiceshop file\juice'  # Adjust as needed
          files_to_exclude: 'C:\Users\KaranKumar\Desktop\Juiceshop file\juice'        # Adjust as needed
          log_level: 'debug'                         # Set to 'debug' for detailed logs          # List the package managers used in your project
          verbose: true
